<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>getSms</servlet-name>
        <servlet-class>getSms</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getSms</servlet-name>
        <url-pattern>/revXml</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>downLoadFile</servlet-name>
        <servlet-class>downLoadFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>downLoadFile</servlet-name>
        <url-pattern>/downloadfile</url-pattern>
    </servlet-mapping>
</web-app>